.search__form {
  max-width: 1140px;
  width: 90%;
  margin: 80px 0 49px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: #E8E8E8 1px solid;
}

.search__input-container {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 31px;
}

.search__input {
  width: 92%;
  height: 48px;
  color: #000;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  box-sizing: border-box;
  margin-right: 10px;
  text-align: left;
  background-color: #F4F4F4;
  border-radius: 4px;
  border: none;
  padding: 0;
  outline: none;
}

.search__input[value] {
  padding-left: 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 18px;
}

.search__input::placeholder {
  color: #A0A0A0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  position: absolute;
  top: 15px;
}

.search__error {
  font-weight: 400;
  font-size: 11px;
  line-height: 1.2;
  color: #ee3465;
  position: absolute;
  top: 220px;
  left: 180px;
}

.search__button {
  min-width: 70px;
  height: 44px;
  border-style: none;
  background-image: url('../../images/find.svg');
  background-repeat: no-repeat;
  border-radius: 48px;
  padding: 0;
  cursor: pointer;
  transform: opacity 0.5s;
}

.search__button:hover {
  opacity: 0.8;
}

.search__button_disabled {
  cursor: default;
  opacity: 0.5;
}

.search__button_disabled:hover {
  opacity: 0.5;
}

@media screen and (max-width: 1270px) {
  .search__form {
    flex-direction: column;
  }

  .search__input-container {
    width: 100%;
  }
}

@media screen and (max-width: 1100px) {
  .search__form {
    margin: 73px 61px;
  }
  .search__error {
    left: 80px;
  }
}

@media screen and (max-width: 770px) {
  .search__form {
    margin: 73px 0 20px;
  }

  .search__input-container {
    width: 92%;
  }
}

@media screen and (max-width: 500px) {
  .search__form {
    margin: 85px 14px 20px;
  }

  .search__input-container {
    width: 100%;
  }

  .search__input {
    text-align: left;
    font-size: 18px;
    line-height: 1.22;
    padding-left: 0;
  }

  .search__input::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
  }

  .search__error {
    font-size: 10px;
    top: 230px;
    left: 25px;
  }
}