.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 70px 30px;
  width: 100%;
}

.login__link-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: left;
  margin-bottom: 40px;
  width: 100%;
  max-width: 396px;
}

.login__link {
  color: #3456F3;
  text-decoration: none;
  transform: opacity 0.6s;
}

.login__link:hover {
  opacity: 0.6;
}

.login__logo {
  width: 38px;
  height: 38px;
  transform: opacity 0.6s;
}

.login__logo:hover {
  opacity: 0.6;
}

.login__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.21;
  margin: 0;
  color: #000;
}

.login__form {
  width: 100%;
  max-width: 396px;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.login__input-text {
  font-weight: 400;
  font-size: 10px;
  line-height: 12.1px;
  color: #A0A0A0;
  padding-bottom: 10px;
}

.login__input {
  height: 46px;
  border-style: none;
  font-weight: 500;
  font-size: 13px;
  line-height: 15.73px;
  color: #000;
  background-color: #F4F4F4;
  border-radius: 8px;
  padding: 0;
  margin-bottom: 20px;
  outline: none;
}

.login__input[value] {
  padding-left: 15px;
}

.login__error_input {
  color: #ee3465;
}

.login__error {
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  color: #ee3465;
  position: relative;
  top: -10px;
}

.login__buttons {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 396px;
  width: 100%;  
  margin-top: 160px;
}

.login__button {
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  border-style: none;
  background-color: #3456F3;
  border-radius: 3px;
  width: 100%;
  padding: 13px 0 15px;
  box-sizing: border-box;
  cursor: pointer;
  transform: opacity 0.6s;
}

.login__button:hover {
  opacity: 0.6;
}

.login__button_disabled {
  background-color: #f8f8f8;
  color: #c2c2c2;
  cursor: default;
}

.login__button_disabled:hover {
  opacity: 1;
}

.login__support {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #8b8b8b;
  text-align: center;
}

.login__link_signup {
  padding-left: 6px;
}

@media screen and (max-width: 518px) {
  .login {
    justify-content: flex-start;
  }

  .login__link-container {
    align-items: center;
    gap :50px;
    margin-bottom: 80px;
  }

  .login__form {
    max-width: 260px;
  }

  .login__buttons {
    margin-top: 240px;
  }

  .login__button {
    font-size: 12px;
    line-height: 1.25;
  }

  .login__support {
    font-size: 12px;
    line-height: 1.25;
  }
}